<carousel
[loop]="true"
[overflowCellsLimit]="1"
>


    >
    <div class="carousel-cell">
        <img src="assets/chandeleer.png">
    </div>
    <div class="carousel-cell">
        <img src="assets/chandeleer.png">
    </div>
    <div class="carousel-cell">
        <img src="assets/chandeleer.png">
    </div>
    <div class="carousel-cell">
        <img src="assets/chandeleer.png">
    </div>
    <div class="carousel-cell">
        <img src="assets/chandeleer.png">
    </div>
    <div class="carousel-cell">
        <img src="assets/chandeleer.png">
    </div>
    <div class="carousel-cell">
        <img src="assets/chandeleer.png">
    </div>
    <div class="carousel-cell">
        <img src="assets/chandeleer.png">
    </div>
    <div class="carousel-cell">
        <img src="assets/chandeleer.png">
    </div>
</carousel>