<footer>
    <div class="footer-total"> 
        <div class="footer-total-one">
            <div class="logo">
                <h2>OSR</h2>
                <p>Real Estate | Advisory | Investments</p>
            </div>
            <p>Adress 00,</p>
            <p>1002 PH Berken</p>
            <p>KVK 7214124</p>
        </div>
        <div class="footer-total-two">
            <a href="">DIENSTEN</a>
            <a class="a-dun" href="">Aan & Verkoop</a>
            <a class="a-dun" href="">Advies</a>
            <a class="a-dun" href="">Renovatie & Transformatie</a>
        </div>
        <hr>
        <div class="footer-total-three">
            <a href="">HOME</a>
            <a href="">OVER</a>
            <a href="">CONTACT</a>
        </div>
    </div>
</footer>