.video-tekst-container {
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 95%;
}

.video-tekst-first {
    margin: auto;
    width: 100%;
    max-width: 600px;
    margin-bottom: 24px;
}

iframe {
    width: 100%;
    border-style: none;
    border-radius: 5px;
    height: 340px;
}

.video-tekst-second {
    text-align:initial;
    margin-top: 30px;
    max-width: 600px;
    margin: auto;
    width: 95%;
}

.video-tekst-second-text  {
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 5px;
}

.video-tekst-second button {
    margin-top: 16px;
}

@media only screen and (min-width: 1000px) {
    
    .video-tekst-container {
        flex-direction: row;
        max-width: 1150px;
        align-items: center;
    }

    .video-tekst-second {
        margin-top: 40px;
        max-width: 400px;
    }

}

 @media only screen and (min-width: 1200px) {

    .video-tekst-first {
        max-width: 650px;
    }
    
    iframe {
        height: 380px;
    }

    .video-tekst-second {
        margin-top: 60px;

    }

}