<div class="video-tekst-container" >
    <div class="video-tekst-first" > 
        <iframe 
        src="http://www.youtube.com/embed/W7qWa52k-nE">
        </iframe>
    </div>
    <div class="video-tekst-second" >
        <div class="video-tekst-second-text">
            <p class="p-klein">over</p>
            <h5>{{title}}<span></span></h5>
            <p>{{ paragraph }}</p>
        </div>
        <div class="video-tekst-buttons">
            <button class="btn-large-other">info@osr-realestate.nl</button>
            <button class="btn-large-other">+31 6 41 55 02 27</button>
        </div>
    </div>
</div>