.video-tekst-container {
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 90%;
    margin-bottom: 100px;
}

.video-tekst-first {
    margin: auto;
    width: 100%;
    max-width: 400px;

}

iframe {
    width: 100%;
    margin: auto;
    border-style: none;
    border-radius: 10px;
    max-width: 450px;
    height: 350px;
}

.video-tekst-second {
    text-align:initial;
    margin-top: 30px;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    width: 95%;
    
}

.video-tekst-second-text  {
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 5px;

}

.video-tekst-third div {
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 5px;
    margin-top: 24px;
}

.video-tekst-buttons {
    margin-top: 20px;
    display: flex;

}

.video-tekst-buttons button {
    margin-right: auto;
    margin-bottom: 10px
}

.p-klein {
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
}

h5 {
    margin-top: -5px;
    margin-bottom: 5px;
}

h4 {
    color: black;
}

button {
    margin-top: 8px;
}


@media only screen and (min-width: 900px) {
    
    .video-tekst-container {
        margin-bottom: 140px;
        max-width: 1200px;
        flex-direction: row;
        align-items: center;
    }

    .video-tekst-first {
        margin-top: 0px;
    }

    .video-tekst-first {
        margin: auto;
        width: 90%;
        max-width: 600px;
    }
    
    iframe {
        width: 90%;
        margin: auto;
        border-style: none;
        border-radius: 10px;
        max-width: 600px;
        height: 350px;
    }
}

    @media only screen and (min-width: 1200px) {
        
        .video-tekst-second {
            margin-top: 0px;
        }
        
        .video-tekst-third {
            display: flex;
        }

        .video-tekst-third-first {
            margin-right: 12px;
        }

        .video-tekst-third-second {
            margin-left: 12px;
        }




}