<header [class.header_change]="header_variable" >
    <div class="container">
        <input type="checkbox" name="" id="check">
        
        <div class="logo-container">
            <h2>OSR</h2>

        </div>

        <div class="nav-btn">
            <div class="nav-links">
                <ul>
                    <li class="nav-link nav-active" style="--i: ">
                        <a href="#">OSR</a>
                    </li>
                    <li class="nav-link" style="--i: .85s">
                        <a href="#">HOME</a>
                    </li>
                    <li class="nav-link" style="--i: 1.1s">
                        <a href="#">DIENSTEN<img class="diensten" src="/assets/arrow-btn-small-right.svg" alt=""><i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#">Renovatie & Transformatie</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Aan & Verkoop</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Advies<i class="fas fa-caret-down"></i></a>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a href="#">OVER<i class="fas fa-caret-down"></i></a>
                    </li>
                    <li class="nav-link" style="--i: 1.6s"><a href="#" class="btn-large">CONTACT<i class="fas fa-caret-down"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="hamburger-menu-container">
            <div class="hamburger-menu">
                <div></div>
            </div>
        </div>
    </div>
</header>