<header [class.header_change]="header_variable" >
    <div class="container">
        <input type="checkbox" name="" id="check">

        <div class="logo-container">
            <h2 routerLink="/">OSR</h2>
            <!-- <p class="tekst-logo" [class.tekst_change]="header_variable">Real Estate | Advisory | Investments</p> -->

        </div>

        <div class="nav-btn">
            <div class="nav-links">
                <ul>
                    <li class="nav-link nav-active" style="--i: ">
                        <a href="#">OSR</a>
                    </li>
                    <li class="nav-link" style="--i: .85s">
                        <a routerLink="/"  href="#">HOME</a >
                    </li>
                    <li class="nav-link" style="--i: 1.1s">
                        <a >DIENSTEN<img class="diensten" src="assets/arrow-btn-small-right.svg" alt=""><i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a routerLink="/renovatie" >Renovatie & Transformatie</a>
                                </li>
                                <li class="dropdown-link">
                                    <a routerLink="/verkoop" >Aan & Verkoop</a>
                                </li>
                                <li class="dropdown-link">
                                    <a routerLink="/advies" href="#">Advies<i class="fas fa-caret-down"></i></a>
                            </ul>
                        </div>
                    </li>
                  <li (click)="toAbout()" class="nav-link" style="--i: 1.35s">
                    <!-- (click)="scrollToElement(target)" -->
                        <a>OVER<i class="fas fa-caret-down"></i></a>
                    </li>
                    <li  class="nav-link" style="--i: 1.6s"><a href="#" class="btn-large">UW VASTGOED VERKOPEN?<i class="fas fa-caret-down"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="hamburger-menu-container">
            <div class="hamburger-menu">
                <div></div>
            </div>
        </div>
    </div>
    <app-pop-up></app-pop-up>
</header>
