<div class="description-container">
    <div class="description-first">
        <h5>Over</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially </p>
        <button class="btn-small">Bezichtiging inplannen</button>
    </div>
    <div class="description-second">
        <div>
            <h6>Vierkante Meters</h6>
            <h3>120</h3>
        </div>
        <div>
            <h6>Bed/Badkamers</h6>
            <h3>2/3</h3>
        </div>
        <div>            
            <h6>Etage</h6>
            <h3>3/4</h3>
        </div>
    </div>
</div>