<div class="description-container">
    <div class="description-first">
        <h5>Over</h5>
        <p>{{ paragraph }}</p>
        <button class="btn-small">{{ button }}</button>
    </div>
    <div class="description-second">
        <div>
            <h6>Vierkante Meters</h6>
            <h3>{{ infoOne }}</h3>
        </div>
        <div>
            <h6>Bed/Badkamers</h6>
            <h3>{{ infoTwo }}</h3>
        </div>
        <div>            
            <h6>Etage</h6>
            <h3>{{ infoThree }}</h3>
        </div>
    </div>
</div>