.image-tekst-container {
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 90%;
    margin-bottom: 100px;
}
.oscar-foto{
    width: 300px;
    height: 340px;
    object-fit: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-transition: 0.5s -webkit-filter linear;
    -moz-transition: 0.5s -moz-filter linear;
    -moz-transition: 0.5s filter linear;
    -ms-transition: 0.5s -ms-filter linear;
    -o-transition: 0.5s -o-filter linear;
    transition: 0.5s filter linear, 1s -webkit-filter linear;
}

.oscar-foto:hover {
    filter:none;
    -webkit-transition: 0.5s -webkit-filter linear;
    -moz-transition: 0.5s -moz-filter linear;
    -moz-transition: 0.5s filter linear;
    -ms-transition: 0.5s -ms-filter linear; 
    -o-transition: 0.5s -o-filter linear;
    transition: 0,5s filter linear, 1s -webkit-filter linear;
}

.image-tekst-first {
    position: relative;
    max-width: 400px;
    margin: auto;
    margin-bottom: 40px

}

.image-tekst-second {
    text-align:initial;
    margin-top: 40px;
    max-width: 400px;
    margin: auto;
    
}

.image-tekst-second-text {
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 5px;
}

.image-tekst-second-text span {
    font-size: 14px;
    font-weight: 600;
    
}

.image-tekst-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.image-tekst-buttons button {
    margin-right: auto;
    margin-bottom: 10px
}



.masterclass  {
   position: absolute;
   bottom: -10px;
   right: -10px;
   width: 20%;
}

@media only screen and (min-width: 500px) {

    .image-tekst-buttons {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
     
    }
    
    .image-tekst-buttons button {
        margin-right: auto;
        margin-bottom: 10px;
        
    }

}

@media only screen and (min-width: 800px) {
    
    .image-tekst-container {
        margin-bottom: 140px;
        max-width: 1100px;
    }

    .oscar-foto{
        width: 375px;
        height: 400px;
    }

    .image-tekst-container {
        flex-direction: row;
    }

}