<app-image-background-animation 
    [title]="'Van Ostadestraat 46'" 
    [styles]="{height:'32vh'}"
    [shadowStyle]="{height:'32vh'}"
    ></app-image-background-animation> 
    <div (click)="backClicked()" class="back-button">
        <img class="back" src="assets/arrow-btn-large-left.svg" alt="">
        <h6>Terug naar woningen</h6>
    </div>
    <div class="description-container">
        <div class="description-first">
            <h5>Over</h5>
            <p>{{ house?.paragraph }}</p>
            <button class="btn-small">Verkocht</button>
        </div>
        <div class="description-second">
            <div>
                <h6>Vierkante Meters</h6>
                <h3>hi</h3>
            </div>
            <div>
                <h6>Bed/Badkamers</h6>
                <h3>hi</h3>
            </div>
            <div>            
                <h6>Etage</h6>
                <h3>hi</h3>
            </div>
        </div>
    </div>
    <div class="pictures-total">
        <h6>Foto's</h6>
        <img  class="pictures" src="assets/arrow-btn-large-down.svg" alt="">
    </div>
    <app-carousel
    ></app-carousel>