<div (scroll)="($event)" class="counter-block-container">
    <div class="counter-block">
        <div class="counter-block-first">
            <h6>Woningen verkocht</h6>
            <div>
                <h3>Woningen <span>>6</span></h3>
            </div>
            <img src="assets/panden.svg" alt="">
        </div>
        <hr>
        <div class="counter-block-second">
            <h6>Vierkante Meters</h6>
            <div>
                <h3><span>>1500</span> ㎡  </h3>
            </div>
            <img src="assets/m2.svg" alt="">
        </div>     
    </div>
    <div routerLink="/verkoop" class="counter-block-third">
        <h6>Huidige Aanbod</h6>
        <img src="assets/arrow-btn-large-right.svg" alt="">
    </div>
    <hr class="second-hr">
</div>

